@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Global Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color:#E9ECEF;
  color: #333;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.search {
  width: 75%;
  position: relative;
  margin: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
}


.searchTerm {
  width: 100%;
  border: 3px solid #8A2BE2;
  border-right: none;
  padding: 5px;
  height: 35px;
  border-radius: 5px 0 0 5px;
  outline: none;
 
}

.searchTerm:focus{
  color: #8A2BE2;
}

Button {
  background: #8A2BE2;
  padding-left: 1rem;
  padding-right: 1rem;
  cursor: pointer;

 
}
